server:
  port: ${PORT:8080}

spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://aws-1-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 2
      minimum-idle: 0
      max-lifetime: 600000
      idle-timeout: 30000
      connection-timeout: 120000
      connection-test-query: SELECT 1
      data-source-properties:
        prepareThreshold: 0
        autosave: conservative
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
